<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Admin_Form.Properties.Settings.ArmaniDevineDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ArmaniDevineDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="Admin_Form.Properties.Settings.ArmaniDevineConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ArmaniDevine.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>